.colr{
	color: #2ABB9B;
}

.box{
    padding: 20px;
    color: #2ABB9B;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0;
    border:1px solid rgba(0,0,0,.125);
    margin-top: 10px;
    margin-left: 234px ;
    margin-right: -220px;

}
.box:hover{
    color: #fff;
    background-color: #2ABB9B;
    border-color: #2ABB9B;
    transition: 0.5s;

}

.icon-menu{
	font-size: 100px;
}
a{
	text-decoration: none !important;
}